<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apilibrary.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:largeHeap="true">
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>